<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [ ]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:2503: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100
WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:168: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:175: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:184: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:193: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From c:\Users\admin\Development\IBM Deep Learning with PyTorch, Keras and Tensorflow\introduction-to-deep-learning-with-keras\.conda\lib\site-packages\keras\backend\tensorflow_backend.py:200: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

 - 0s - loss: 1646.2914 - val_loss: 1156.0000
Epoch 2/100
 - 0s - loss: 1509.4137 - val_loss: 1041.2670
Epoch 3/100
 - 0s - loss: 1293.8712 - val_loss: 857.0486
Epoch 4/100
 - 0s - loss: 963.5921 - val_loss: 618.1376
Epoch 5/100
 - 0s - loss: 593.5054 - val_loss: 386.4145
Epoch 6/100
 - 0s - loss: 337.8767 - val_loss: 251.2522
Epoch 7/100
 - 0s - loss: 248.0502 - val_loss: 209.5496
Epoch 8/100
 - 0s - loss: 224.9157 - val_loss: 201.0613
Epoch 9/100
 - 0s - loss: 213.2475 - val_loss: 195.7898
Epoch 10/100
 - 0s - loss: 203.5804 - val_loss: 190.5491
Epoch 11/100
 - 0s - loss: 197.0308 - val_loss: 185.8778
Epoch 12/100
 - 0s - loss: 190.2374 - val_loss: 185.5540
Epoch 13/100
 - 0s - loss: 185.1242 - val_loss: 180.2037
Epoch 14/100
 - 0s - loss: 179.3241 - val_loss: 177.0480
Epoch 15/100
 - 0s - loss: 174.6703 - val_loss: 174.3271
Epoch 16/100
 - 0s - loss: 170.5745 - val_loss: 172.2206
Epoch 17/100
 - 0s - loss: 167.2264 - val_loss: 167.9332
Epoch 18/100
 - 0s - loss: 164.6085 - val_loss: 167.5189
Epoch 19/100
 - 0s - loss: 161.0522 - val_loss: 161.4909
Epoch 20/100
 - 0s - loss: 158.6653 - val_loss: 162.2398
Epoch 21/100
 - 0s - loss: 155.1289 - val_loss: 157.9312
Epoch 22/100
 - 0s - loss: 151.9238 - val_loss: 156.4746
Epoch 23/100
 - 0s - loss: 149.9179 - val_loss: 157.0057
Epoch 24/100
 - 0s - loss: 146.9490 - val_loss: 153.8753
Epoch 25/100
 - 0s - loss: 145.3415 - val_loss: 154.4557
Epoch 26/100
 - 0s - loss: 143.1534 - val_loss: 149.9475
Epoch 27/100
 - 0s - loss: 140.7534 - val_loss: 150.1075
Epoch 28/100
 - 0s - loss: 138.6688 - val_loss: 150.8746
Epoch 29/100
 - 0s - loss: 137.1817 - val_loss: 150.4772
Epoch 30/100
 - 0s - loss: 134.8829 - val_loss: 148.1462
Epoch 31/100
 - 0s - loss: 132.6674 - val_loss: 149.3308
Epoch 32/100
 - 0s - loss: 130.9067 - val_loss: 149.0873
Epoch 33/100
 - 0s - loss: 129.2340 - val_loss: 149.5144
Epoch 34/100
 - 0s - loss: 126.5726 - val_loss: 147.2029
Epoch 35/100
 - 0s - loss: 124.9761 - val_loss: 148.4717
Epoch 36/100
 - 0s - loss: 122.7241 - val_loss: 150.3746
Epoch 37/100
 - 0s - loss: 120.2319 - val_loss: 150.4765
Epoch 38/100
 - 0s - loss: 118.3097 - val_loss: 150.2400
Epoch 39/100
 - 0s - loss: 115.9789 - val_loss: 147.3181
Epoch 40/100
 - 0s - loss: 112.8304 - val_loss: 149.4249
Epoch 41/100
 - 0s - loss: 109.8360 - val_loss: 151.1436
Epoch 42/100
 - 0s - loss: 107.0318 - val_loss: 151.6430
Epoch 43/100
 - 0s - loss: 104.3301 - val_loss: 149.2807
Epoch 44/100
 - 0s - loss: 101.4813 - val_loss: 150.3731
Epoch 45/100
 - 0s - loss: 98.6466 - val_loss: 150.4458
Epoch 46/100
 - 0s - loss: 95.6936 - val_loss: 153.0081
Epoch 47/100
 - 0s - loss: 92.4430 - val_loss: 150.3257
Epoch 48/100
 - 0s - loss: 89.0100 - val_loss: 149.0588
Epoch 49/100
 - 0s - loss: 85.9787 - val_loss: 152.4241
Epoch 50/100
 - 0s - loss: 83.1898 - val_loss: 147.8955
Epoch 51/100
 - 0s - loss: 80.1075 - val_loss: 150.1420
Epoch 52/100
 - 0s - loss: 77.7771 - val_loss: 147.6170
Epoch 53/100
 - 0s - loss: 74.9657 - val_loss: 149.9649
Epoch 54/100
 - 0s - loss: 73.5176 - val_loss: 140.2684
Epoch 55/100
 - 0s - loss: 71.7674 - val_loss: 155.7777
Epoch 56/100
 - 0s - loss: 68.0410 - val_loss: 143.9254
Epoch 57/100
 - 0s - loss: 66.4062 - val_loss: 145.9790
Epoch 58/100
 - 0s - loss: 64.8307 - val_loss: 145.2397
Epoch 59/100
 - 0s - loss: 62.4526 - val_loss: 152.8295
Epoch 60/100
 - 0s - loss: 60.7816 - val_loss: 142.2469
Epoch 61/100
 - 0s - loss: 58.8912 - val_loss: 151.5193
Epoch 62/100
 - 0s - loss: 57.6873 - val_loss: 139.3441
Epoch 63/100
 - 0s - loss: 56.7485 - val_loss: 150.7291
Epoch 64/100
 - 0s - loss: 54.5465 - val_loss: 145.8177
Epoch 65/100
 - 0s - loss: 53.6338 - val_loss: 144.6108
Epoch 66/100
 - 0s - loss: 52.9632 - val_loss: 142.9986
Epoch 67/100
 - 0s - loss: 51.1605 - val_loss: 150.3025
Epoch 68/100
 - 0s - loss: 50.4844 - val_loss: 146.9799
Epoch 69/100
 - 0s - loss: 49.2127 - val_loss: 142.5861
Epoch 70/100
 - 0s - loss: 48.8034 - val_loss: 143.2041
Epoch 71/100
 - 0s - loss: 47.3143 - val_loss: 145.8705
Epoch 72/100
 - 0s - loss: 46.3386 - val_loss: 147.7721
Epoch 73/100
 - 0s - loss: 45.8401 - val_loss: 142.7722
Epoch 74/100
 - 0s - loss: 44.6303 - val_loss: 147.1394
Epoch 75/100
 - 0s - loss: 43.7809 - val_loss: 149.9156
Epoch 76/100
 - 0s - loss: 42.8990 - val_loss: 147.7718
Epoch 77/100
 - 0s - loss: 42.9738 - val_loss: 137.8219
Epoch 78/100
 - 0s - loss: 42.0649 - val_loss: 146.8308
Epoch 79/100
 - 0s - loss: 41.5128 - val_loss: 138.2712
Epoch 80/100
 - 0s - loss: 41.0453 - val_loss: 153.9029
Epoch 81/100
 - 0s - loss: 40.0120 - val_loss: 143.0960
Epoch 82/100
 - 0s - loss: 39.7075 - val_loss: 144.7751
Epoch 83/100
 - 0s - loss: 39.6192 - val_loss: 150.9945
Epoch 84/100
 - 0s - loss: 38.7855 - val_loss: 141.6723
Epoch 85/100
 - 0s - loss: 37.9120 - val_loss: 152.8802
Epoch 86/100
 - 0s - loss: 37.6918 - val_loss: 144.5597
Epoch 87/100
 - 0s - loss: 37.7190 - val_loss: 152.5037
Epoch 88/100
 - 0s - loss: 36.8520 - val_loss: 149.0761
Epoch 89/100
 - 0s - loss: 36.9920 - val_loss: 150.6075
Epoch 90/100
 - 0s - loss: 36.0702 - val_loss: 153.2763
Epoch 91/100
 - 0s - loss: 35.8075 - val_loss: 144.9906
Epoch 92/100
 - 0s - loss: 35.2739 - val_loss: 149.7507
Epoch 93/100
 - 0s - loss: 35.2447 - val_loss: 149.2699
Epoch 94/100
 - 0s - loss: 35.4716 - val_loss: 142.6471
Epoch 95/100
 - 0s - loss: 34.5012 - val_loss: 154.3685
Epoch 96/100
 - 0s - loss: 34.2367 - val_loss: 150.9991
Epoch 97/100
 - 0s - loss: 33.7545 - val_loss: 145.8624
Epoch 98/100
 - 0s - loss: 33.6798 - val_loss: 150.3329
Epoch 99/100
 - 0s - loss: 33.5365 - val_loss: 144.8802
Epoch 100/100
 - 0s - loss: 33.1397 - val_loss: 147.3659

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!


## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-09-21  | 2.0  | Srishti  |  Migrated Lab to Markdown and added to course repo in GitLab |



<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).